#App{

    display: flex;
    flex-direction: column;

    .header{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        padding: 26px;

        .logo{
            >img{
                width: 46px;
            }
        }
        .menu{
            button{
                border: none;
                >img{
                    width: 46px;
                }
            }
        }
    }
    .main-content{

        display: flex;
        flex-direction: column;
        align-items: center;

        .result-temp{

            padding: 16px;
            text-align: center;

            >h1{
                font-size: 22px;
                color: #fff;
                font-family: 'Poppins', sans-serif; 
            }
            >h2{
                margin-top: 18px;
                font-size: 64px;
                color: #fff;
            }
            .sunrise-sunset{

                display: flex;
                padding-top: 36px;

                .separator{
                    border: 0;
                    height: 2px;
                    width: 300px;
                    background-image: linear-gradient(to right, transparent, #CCC, transparent);  
                }
            }
        }
    }
}